header {background-color: white;
    background-image:url("../images/logo.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-x: 20px;
    background-position-y: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid;
    border-bottom-color: #CCCCCC;
}
